/*a base é o que o site e as páginas usam como padrão*/

* {
  box-sizing: border-box;
}

/* Mobile - definido antes na ordem da cascata (mobile first) - na ordem de tamanho de dispositivo */
:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 4.25vw;
  /*nessa região utilizamos a definição de fontes no seletor próprio para o root, ou seja, onde estão as informações próprias para o site*/
  /*16px = 1rem - é o que o navegador aplica por padrão na formatação do site, mas alteramos para 4.25vw para considerar o mobile first (largura padrão para dispositivos mobile)*/
  color: var(--color-copy);
  /*estabelecerá que a cor padrão de texto é nesse tom de cinza*/
}

/* Tablet */
@media screen and (min-width: 720px) {
  :root {
    font-size: 2.25vw;
  }
}

/* Desktop - mobile first (primeira renderização que será realizada - celular é mais escravo da conexão que ele tem*/
@media screen and (min-width: 1280px) {
  :root {
    font-size: 16px;
  }
}
/* Meu desktop terá no mínimo 1280px de largura - para ter certeza de que abrirá na largura certa
O uso do rem permite uma facilidade na hora de fazer uma adaptação para multidispositivos */

body {
  /*aplicará as alterações em toda a estrutura do body*/
  margin: 0;
  /*remove a margem de toda a estrutura do body*/
  /* padding-top: 7.75rem; */
  /*fazendo isso, conseguiremos jogar o conteúdo para baixo, para que não fique abaixo da barra de navegação, sendo que 7,75rem é a altura definida da barra de navegação*/
}

header,
main,
footer {
  /*afetaremos os três elementos semânticos que temos dentro do body*/
  overflow-x: hidden;
  overflow-y: hidden;
  /* para ele ocultar qualquer conteúdo de X que vá além do que ele deveria */
}

ul {
  /*aplicará as alterações em toda a estrutura da lista*/
  display: flex;
  /* display: flex; - coloca os itens da lista lado a lado, na horizontal, ao invés de estarem organizados na vertical, como é por padrão o display: block;*/
  list-style: none;
  /* configuração para remoção das bolinhas que ficam, quando se está configurando uma lista*/
  padding-left: 0;
  /*removendo o padding à esquerda da caixa da lista, que através do inspecionar, mostrava um espaço de "margem"*/
}
