@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&family=Roboto&display=swap');
/*300-Light, 400-Regular, 500-Medium, 700-Bold, 900-Black*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/fontawesome.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
/*para a importação da formatação dos ícones das redes sociais*/

* {
  box-sizing: border-box;
}

:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  /*nessa região utilizamos a definição de fontes no seletor próprio para o root, ou seja, onde estão as informações próprias para o site*/
  /*16px = 1rem - é o que o navegador aplica por padrão na formatação do site*/
  --color-copy: #333;
  /*inclusão de uma variável de cor*/
  --color-primary: #ffc500;
    /*inclusão de uma variável de cor*/
  --default-padding: 1rem;
  /*estabelecerá que o padding padrão será de 1 rem ou 16px*/
  /*precisa ser assim pois a ordem em cascata faz com que seja aplicada e definida a fonte e depois o padding de 1rem, baseado no tamanho da fonte de 16px. Se fosse ao contrário, o font-size sobrescreveria a informação de 1rem, e ele se basearia nos novos valores de font-size */
  color: var(--color-copy);
    /*estabelecerá que a cor padrão de texto é nesse tom de cinza*/
}

body {
  /*aplicará as alterações em toda a estrutura do body*/
  margin: 0;
  /*remove a margem de toda a estrutura do body*/
  padding-top: 7.75rem;
  /*fazendo isso, conseguiremos jogar o conteúdo para baixo, para que não fique abaixo da barra de navegação, sendo que 7,75rem é a altura definida da barra de navegação*/
}

header,
main,
footer {
  /*afetaremos os três elementos semânticos que temos dentro do body*/
  overflow-x: hidden;
  overflow-y: hidden;
  /* para ele ocultar qualquer conteúdo de X que vá além do que ele deveria */
}

.container {
  /*aplicará as alterações em toda a estrutura do container*/
  max-width: 1140px;
  /*único lugar em que usaria uma dimensão em pixels - para definir um tamanho máximo para garantir qu enosso conteúdo fique no meio como em nosso design*/
  margin: 0 auto;
  /*para não aplicar margem para cima e para baixo e deixar para o navegador definir as margens para esquerda e direita*/
}

ul {
  /*aplicará as alterações em toda a estrutura da lista*/
  display: flex;
  /* display: flex; - coloca os itens da lista lado a lado, na horizontal, ao invés de estarem organizados na vertical, como é por padrão o display: block;*/
  list-style: none;
  /* configuração para remoção das bolinhas que ficam, quando se está configurando uma lista*/
  padding-left: 0;
  /*removendo o padding à esquerda da caixa da lista, que através do inspecionar, mostrava um espaço de "margem"*/
}

.navbar {
  /*aplicará as alterações em toda a estrutura da barra de navegação*/
  position: fixed;
  /* position: fixed; - Essa propriedade fará com que a barra de navegação fique fixa na tela, conforme o usuário vai utilizando a barra de rolagem.*/
  z-index: 1;
  /*define a prioridade de um elemento, para que ele fique acima dos demais, ou seja, a navbar ficará por cima dos elementos, mesmo que eles tenham uma propriedade position absolute ou relative*/
  top: 0;
  left: 0;
  /*remove as margens superior e esquerdas da barra de navegação*/
  width: 100%;
  /*para ocupar 100% da largura de tela*/
  background-color: #000;
  color: #fff;
  /* na formatação hexadecimal de cor, o primeiro número seria referente ao vermelho, o segundo de verde, o terceiro o quanto de azul e o quarto número indicaria a transparência do objeto - 0 - F. */
  /* color: #fff - resulta na cor branca e a propriedade color é referente ao texto */
}

.navbar__container {
  /*aplicará as alterações em toda a estrutura do container da barra de navegação*/
  display: grid;
  /*in line - quando for texto / block - elemento que for causar quebra de linha, mas que podemos controlar este elemento*/
  grid-template-columns: 1fr 9fr;
  /*essa propriedade define que você deixa uma fração do espaço para a logo studion e o restante, as nova frações para a lista*/
  align-items: center;
  /*essa propriedade fará com que toda essa linha de itens será alinhada no centro na vertical*/

  width: 100vw;
  /* width: 100%; ou width: 100vw; ajusta a largura para 100% da página*/
  height: 7.75rem;
  /* definindo a altura da nossa barra de navegação para ficar num tamanho fixo mais previsível*/
  padding: 0 1rem;
  /*este valor de padding aplicará diretamente na barra de navageção - se passar só um valor aqui ele aplicará o mesmo para todos os lados - se pasar mais de um valor o primeiro aplica para cima e para baixo (0) e o segundo para esquerda e para a direita (1)*/
}

.navbar__links {
  /*aplicará as alterações em todos os links da barra de navegação*/
  justify-self: end;
  /*propriedade de alinhamento para itens que estão dentro de um grid - com a subpropriedade end fará com que a barra de navegação se alinhará a direita */
}

.navbar__links li {
  /*aplicará as alterações em todos os itens da lista da barra de navegação*/
  font-size: 0.875rem;
  /*no projeto base a fonte das letras da barra de navegação tÊm 14px, ou seja 14/16 = 0,875rem*/
  margin-right: 3rem;
  /*desta forma, conseguimos separar os itens da lista com um espaçamento proporcional entre elas*/
  /*se quiséssemos utilizar um valor correspondente a 10px, porém, em rem, teríamos que dividir 10/16, visto que 1rem equivale a 16px, o que resultaria em 0,625, sendo este valor agora convertido em rem */
  /*como o projeto define que são 48 pixels de distância entre cada link da barra da navegação, 48/3 = 3 rem*/
  text-transform: uppercase;
  /*essa propriedade transforma todo o texto em caixa alta para estilização do texto*/
}

.navbar__links a {
    /*Nesta seção, ao utilizar o seletor "a", fará com que todas as tags "a" dentro desta classe, sofrerão as alterações aplicadas nesta seção*/
  font-weight: 300;
  /*esta propriedade define o peso da fonte - light*/
  color: #fff;
  /*esta propriedade e seu valor aplicarão a cor branca ao texto*/
  text-decoration: none;
  /*esta propriedade e seu valor farão com que a barra que aparece embaixo do link suma, o sublinhado*/
}

.navbar__links a:hover {
  /*É um estado em que quando eu passar o mouse em cima dos elementos de tag "a", algo deverá acontecer*/
  color: var(--color-primary);
  /*Ao passar o mouse por cima da barra de navegação, cada item assumirá essa cor. A função var chama a variável cor cadastrada na seção root*/
}

.logo-studion {
  /*aplicará as configurações no título studion*/
  font-size: 2.375rem;
  /*definindo o tamanho da fonte, sendo que no projeto são 38px ou seja 38px/16px = 2,375rem*/
  font-weight: 900;
  /*definindo o peso da fonte - black*/
  line-height: 1ch;
  /*definindo a altura da linha, sendo ch a unidade de medida relativa ao tamanho da altura do glifo 0 da fonte, como base de unidade - boa para lidar com espaçamento de texto*/
  text-transform: uppercase;
  /*para deixar todo o texto em caixa alta*/
  text-align: right;
  /*para alinhar o texto da logo à direita*/
}

.logo-studion__subtitle {
  /*aplicará as configurações no subtítulo eventos*/
  font-size: 0.875rem;
  /*definindo o tamanho da fonte - como no projeto são 14px, significa que dividimos 14px/16px, já que 1rem = 16px, obtendo assim 0,875rem*/
  font-weight: 300;
  /*definindo o peso da fonte - regular*/
}

.copy--primary {
  /*aplicará a coloração na classe da logo, conforme o projeto*/
  color: var(--color-primary)
}

#slider {
  /*aplicará as configurações no slider contido no cabeçalho (header)*/
  background-color: #000;
  color: #fff;
  /*por convenção e boas práticas de escrita, é comum utilizar as cores en hexadecimal, ao invés de utilizar seus respectivos nomes*/

  /*OUTRA OPÇÃO De APLICAÇÃO DO BACKGROUND
  
  background-image: url(./images/banner.jpg);
  colocar uma imagem como background deste elemento
  sempre colocar o ./ pois ele simboloza a pasta onde está o nosso style.css, pesquisando se tem uma pasta images e um arquivo banner.jpg

  background-size: cover;
  garantir que essa imagem será exibida por inteira, de uma forma que não distorça a imagem

  background-repeat: no-repeat;
  define que o background não se repita, ficando uma única imagem

  background-position: center;
  define o posicionamento do backgroud, para que o centro da imagem se aplique no centro do elemento*/
}

.slide {
  /*aplicará as configurações tanto na imagem quanto no texto do cabeçalho*/
  position: relative;
  /*isso fará com que o filho fique preso dentro do pai, ou seja, não deixará o slide__copy sairá para fora do elemento slide, ou seja, ir para baixo da nossa altura*/
  height: calc(90vh - 7.75rem);
  /*aplicará a altura do slider baseado em 90 de visual height, ou seja, 100% da visualização de tela, subtraindo os 7.75rem da barra de navgação, através da função "calc"*/
}

.slide__background-image {
  /*aplicará as configurações na imagem do background*/
  width: 100%;
  /*ocupa a largura inteira disponível*/
  height: 100%;
  /*ocupa a altura inteira disponível*/
  object-fit: cover;
  /*propriedade para cobrir a tela*/
  object-position: center;
  /*propriedade para centralizar a imagem*/
}

.slide__copy {
  /*aplicará as configurações no texto do cabeçalho*/
  position: absolute;
  /*define a posição dos elementos de texto, neste caso - deixa ele ir para todo lugar da página - este é o elemento pai*/
  top: 6.25rem;
  /*define que ele ficará no topo, numa distância de 6.25rem a partir da barra de navegação, pois no projeto, a distância é de 100px, que dividido por 16px, resulta nos 6.25rem, respeitando a largura da barra de navegação*/
  left: 50vw;
  /*define que o texto aparecerá a partir de 50vw*/
}

.slide__copy h6 {
  /*aplicará as configurações para todos os h6 que estiverem dentro da classe slide__copy*/
  font-size: 0.9375rem;
  /*define o tamanho da fonte - como no projeto tem 15px, são 15/16, ou seja, 0.9375rem*/
  font-weight: 400;
  /*define o peso da fonte - como no projeto é regular, então seria o equivalente a 400*/
  text-transform: uppercase;
  /*define que o texto ficará todo em caixa-alta*/
  letter-spacing: 0.1875rem;
  /*define o espaçamento personalizado entre as letras, conforme estipulado em projeto*/
}

.slide__copy h2 {
  /*aplicará as configurações para todos os h2 que estiverem dentro da classe slide__copy*/
  font-size: 6.25rem;
  /*define o tamanho da fonte - como no projeto tem 100px, são 100/16, ou seja,6.25rem*/
  text-transform: uppercase;
  /*define que o texto ficará todo em caixa-alta*/
  line-height: 6.25rem;
  /*define a altura de linha, para que o espaçamento entre as palavras fique identico ao projeto*/
}

.slide__copy h2 span {
  /*aplicará as configurações para o elemento SPAN dentro do h2*/
  display: block;
  /*define que independente da resolução da tela, haverá a quebra de linha entre as palavras CREATIVE e MINDS, conforme o projeto*/
}

.btn {
  /*aplicará as configurações para o botão (saiba mais)*/
  cursor: pointer;
  /*fará com que o cursor vire a "mãozinha" quando passar por cima do botão, para ver que ele é clicável e chamar a atenção do usuário*/
  padding: 1rem 2.50rem;
  /*aplicará um padding (distancia entre o texto e a caixa) de 20px cima/baixo, ou seja, 20/16 = 1.25rem e 40px esquerda/direita, ou seja, 40/16 = 2.50rem, porém, no caso da altura, vamos deixar em 1rem, para ficar mais próximo do efeito desejado de pílula, mais achatado*/
  border: 0.125rem solid #fff;
  /*definirá as configurações da borda do botão - largura de linha, estilo de linha, cor. No projeto a borda tem 2px, ou seja, 2/16 = 0.125rem. Foi definido o estilo de linha sólido e a cor branca em hexadecimal como padrão de escrita*/
  border-radius: 5rem;
  /*aplicará o arredondamento das bordas do botão - no projeto, o valor é de 26px, ou seja, 26/16 = 1.625rem - porém, este valor não chega no resultado esperado, então, colocamos um valor maior que ele, para garantir o formato de pílula no botão*/
  color: var(--color-primary);
  /*definirá a cor padrão amarela do layout para o texto do botão*/
  background: unset;
  /*toda vez que eu quiser resetar para o valor mais neutro possível de uma propriedade, devo usar o valor "unset" - serve para remover o background do botão*/
  font-size: 0.9375rem;
  /*define o tamanho de fonte de texto - no projeto consta 15px, ou seja, 15/16 = 0.9375rem */
  font-weight: 700;
  /*define o peso da fonte - no projeto é Bold, ou seja, o valor de 700*/
  text-transform: uppercase;
  /*define que o texto fique em caixa alta*/
  transition: 0.3s all ease;
  /*define propriedade de animações entre as mudanças de propriedade, dando mais dinamismo e ficando mais interessante visualmente - consigo estipular o tempo que levará pra fazer a transição entre o valor de uma propriedade para outra - a cor por exemplo (0.5s), o que será alterado nessa transição (all) e a curva de animação (ease) - a mais balanceada*/
}

.btn:hover, 
.btn:active, 
.btn:focus,
.btn--institutional {
  /*desta forma, faz um seletor que funcionará um mesmo código para todos eles, ou seja, para mais de um caso, selecionando vários elementos ou classes de um HTML, separando por vírgula*/
  border-color: var(--color-primary);
  /*define a cor da borda quando passar o mouse por cima*/
  background-color: var(--color-primary);
  /*define a cor do brackground quando passar o mouse por cima*/
  color: #fff;
  /*define a cor do texto quando passar o mouse por cima, que neste caso, como o background ficará amarelo, o texto precisa alterar para branco, para viabilizar a leitura*/
}

#counter {
  /*atribuirá propriedades ao seletor de ID counter*/
  background-color: var(--color-primary);
  /*define a cor do background para o default do projeto*/
  color: #fff;
  /*define a cor do texto*/
  text-transform: uppercase;
  /*define que o texto seja em letra maiúscula*/
}

.counter__container {
  /*atribuirá propriedades ao seletor de classe em questão*/
  display: grid;
  /*fará a quebra do texto para baixo, ao invés de alinhamento na horizontal - precisa definir o número de colunas*/
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /*fará a divisão em um número específico de colunas - colocando uma fração para cada, ele entenderá que é para distribuir igualmente as colunas naquele trecho - a função repeat exige como primeiro dado o número de repetições e como segundo dado a fração para cada trecho - acrescentamos ainda a função minmax para definir que cada trecho deve se apresentar em no mínimo 300px e no máximo 1fr*/
  place-items: center;
  /*funciona como justify-itens e aligh-itens, afetando horizontalmente e verticalmente a posição dos elementos*/
  padding: 4.375rem 1rem;
  /*definirá o espaçamento entre o texto e os limites superiores e inferiores do container - no projeto, por padrão tem 70px, ou seja, 70/16 = 4.375rem e colocado 1rem para a esquerda e direita*/
}

.counter__container h3 {
  /*para aplicar propriedades para somente os h3 que estão dentro dessa classe*/
  font-size: 2.1875rem;
  /*define o tamanho da fonte, como são 35px em projeto, então, 35/16 = 2.1875rem*/
}

.counter__container h3 small {
  /*para aplicar propriedades para somente os <small> que estão dentro desta tag*/
  display: block;
  /*define a quebra de linha entre os elementos*/
  font-size: 1.25rem;
  /*define o tamanho da fonte, como são 20px em projeto, então 20/16 = 1.25rem*/
}

.institutional {
  /*aplicará propriedades para a classe institutional*/
  display: grid;
  /*fará a quebra do texto para baixo, ao invés de alinhamento na horizontal - precisa definir o número de colunas*/
  grid-template-columns: auto auto;
  /*fará a divisão em um número específico de colunas - colocando uma fração para cada, ele entenderá que é para distribuir proporcionalmente as colunas naquele trecho - usando automático, ele usará o espaço disponível para a imagem e deixará um espaço com respiro maior para o nosso texto, ao invés de forçarmos isso, ficando mais harmonioso, deixando o navegador calcular quanto ele teria que aplicar.*/
  gap: 3.125rem;
  /*define o espaçamento entre os elementos*/
  align-items: center;
  /*fará com que os elementos fiquem alinhados ao centro - no projeto são 50px, portanto, 50/16 = 3.125rem*/
  padding: 4.375rem;
  /*definirá o espaçamento entre o conteúdo e os limites superiores e inferiores do container - no projeto, por padrão tem 70px, ou seja, 70/16 = 4.375rem*/
}

.institutional__image {
  /*aplicará as propriedades para a classe em questão (primeira caixa - imagem)*/
  max-width: 550px;
  /*toda vez que estou definindo uma largura máxima, posso definí-la em pixels*/
}

.institutional__copy {
  /*aplicará as propriedades para a classe em questão (segunda caixa - texto)*/
  padding: 0 1.875rem 0 0;
  /*definirá o espaçamento entre o conteúdo e os limites superiores e inferiores do container como zero e o espaçamento entre o conteúdo e os limites da esquerda e direita do projeto - no projeto, por padrão, tem 30px, ou seja, 30/16 = 1.875rem */
}

.institutional__copy h6 {
  /*aplicará as propriedades para os elementos h6 contidos nesta classe*/
  font-size: 0.875rem;
  /*definirá o tamanho da fonte conforme especificado em projeto, que no caso é 14px, ou seja, 14/16=0.875rem*/
  font-weight: 400;
  /*definirá o peso da fonte (medium)*/
  letter-spacing: 0.1rem;
  /*definirá o espaçamento entre as letras - no projeto, seria de 1px, ou seja, 1/16 = 0.0625rem, mas arredondaremos para 0.1rem*/
  text-transform: uppercase;
  /*definirá a formatação em caixa alta para o texto*/
  margin: 0;
  /*definirá a margem do elemento para zero*/

}

.institutional__copy h4 {
  /*aplicará as propriedades para os elementos h4 contidos nesta classe*/
  font-size: 1.5625rem;
  /*definirá o tamanho da fonte conforme especificado em projeto, que no caso é 25px, ou seja, 25/16=1.5625rem*/
  /*por default o h4 já recebe o peso "bold", então, não é preciso estilizar o peso da fonte*/
  margin-top: 1rem;
  /*definirá a margem do topo deste elemento para 16px, conforme projeto, ou seja, 1rem*/
}

.institutional p {
  /*aplicará as propriedades para o elemento <p> contido nesta classe*/
  font-family: 'Roboto', sans-serif;
  /*definirá a fonte Roboto como principal para este elemento, e uma segunda opção de carregamento, como a sans-serif*/
  font-size: 1.0625rem;
  /*definirá o tamanho da fonte conforme especificado em projeto, que no caso é 17px, ou seja, 17/16=1.0625rem*/
  line-height: 1.6875rem;
  /*define a altura de linha, para que o espaçamento entre as palavras fique identico ao projeto, que neste caso é 27px, ou seja, 27/16=1.6875rem*/
  /* margin-bottom: 0; */
  /*primeiro ele zera a margem de baixo e logo na sequência inclui o novo valor de margem, para mostrar como o efeito em cascata funciona*/
  margin-bottom: 2.5rem;
  /*define a margem de baixo para 40px, ou seja, 40/16=2.5rem, conforme projeto*/
}

.btn--institutional:hover {
  /*aplicará as propriedades para o botão*/
  color: var(--color-copy);
  /*puxará a cor do texto durante o efeito hover para a variável definida no root*/
  border-color: var(--color-primary);
  /*definirá que a cor da borda será a cor da variável amarela durante o efeito hover*/
  background: unset;
  /*definirá que não haverá background durante o efeito hover*/
  box-shadow: 0 1rem 1rem #0006;
  /*definirá a propriedade de efeito de flutuação do botão em relação a tela - a primeira variável é onde a sombra ficará (0 - fica abaixo do botão), a segunda e terceira variável é para jogar a sombra para quais lados e a dimensão dela, ou seja, a posição onde a sombra ficará, e o quarto elemento (se utilizado com 4 dígitos e o número 6 no final) é o que trará a transparência na cor */
}

.quote {
  /*as propriedades serão aplicadas para a seção com classe quote*/
  background-image: url(./images/parallax.jpg);
  /*faz a importação da imagem salva na pasta*/
  background-attachment: fixed;
  /*define o efeito do parallax acontecendo, que é a tela passando pela imagem*/
  background-repeat: no-repeat;
  /*definirá que não haja a repetição do background durante o efeito*/
  background-size: cover;
  /*definirá que o nosso background ocupará mais espaço, ou seja, cobrirá a região*/
  background-position: center;
  /*definirá que o nosso background ficará centralizado na tela*/
}

.quote__container {
  /*aplicará as propriedades no container que está contido na seção quote*/
  display: grid;
  /*definirá a exibição dos elementos como tabela*/
  align-items: center;
  /*definirá o alinhamento dos itens no centro*/
  justify-items: end;
  /*definirá o alinhamento da caixa na direita*/
  min-height: 80vh;
  /*define a altura mínima de visualização da imagem - view height*/
}

.quote__copy {
  /*aplicará as propriedades para a classe em questão*/
  background-color: #fff;
  /*definirá a cor branca para o background da caixa como é em projeto*/
  padding: 5.625rem 4.375rem;
  /*define o tamanho dinâmico da caixa, por conta do espaçamento entre o texto e as bordas da caixa, sendo que o primeiro valor é para cima e para baixo (90px/16px=5.625rem) e o segundo valor é para esquerda e direita (70px/16px=4.375rem)*/
}

.quote__copy h6 {
  /*aplicará as propriedades para o elemento h6 dentro do quote__copy*/
  font-size: 0.9375rem;
  /*define o tamanho da fonte, que no caso é (15px/16px=0.9375rem)*/
  font-weight: 400;
  /*define o peso da fonte, que no caso do projeto é regular*/
  letter-spacing: 0.1875rem;
  /*define o espaçamento entre as letras, que em projeto é de (3px/16px=0.1875rem)*/
  line-height: 1.4375rem;
  /*define a altura entre linhas, que em projeto é de (23px/16px=1.4375rem)*/
  max-width: 53ch;
  /*define a largura de um elemento que tenha texto, a partir de um limite de caracteres para haver a quebra de linha forçada - ideal para aplicar nos parágrafos do site*/
  text-transform: uppercase;
  /*define as letras para ficarem todas em caixa alta*/
  margin: 0;
  /*remove a margem do elemento h6*/
}

.quote__copy h2 {
  /*aplicará as propriedades para o elemento h2 dentro do quote__copy*/  
  font-size: 5rem;
  /*define o tamanho da fonte, que no caso é (80px/16px=5rem) - o font-weight está certo, porque a formatação do h2 já é bold por padrão*/
  line-height: 5rem;
  /*define a altura entre linhas, que em projeto é de (80px/16px=5rem)*/
  text-transform: uppercase;
  /*define as letras para ficarem todas em caixa alta*/
  letter-spacing: -0.1875rem;
  /*define o espaçamento entre as letras, que em projeto é de (-3px/16px=-0.1875rem)*/
  margin: 1.875rem 0;
  /*define a margem superior/inferior do elemento h2 para se aproximar do resultado esperado em projeto (30px/16px=1.875rem) - em projeto, seria 40px, mas não leva em consideração o tamanho da própria fonte, então diminuímos um pouco para ficar em escala mais aproximada e definimos margem 0 para esquerda e direita pois não há*/
}

.quote__copy h2 span {
  /*aplicará as propriedades para o elemento span do h2 dentro do quote__copy*/
  display: block;
  /*define a quebra de linha dos elementos de texto, visto que no HTML já foi preparado para fazer desta forma, através do display: block*/
}

.btn--quote {
  /*aplicará as configurações no botão da seção quote*/
  color:var(--color-copy);
  /*definirá a cor do texto para a variável já estabelecida*/
  border-color: var(--color-copy);
  /*definirá a cor de borda para a variável já estabelecida*/
  background: unset;
  /*definirá que não haverá nenhum background dentro do botão*/
}

.footer {
  /*aplicará as configurações de propriedade para o rodapé da página*/
  background-color: #000;
  /*definirá o background na cor preta*/
  color: #fff;
  /*definirá a cor de texto branca*/
  padding: 0 1rem;
  /*definirá um padding, espaçamento entre o conteúdo e a borda da seção de 0 para cima e para baixo e 1 rem para esquerda e direita*/
}

.footer__container {
  /*aplicará as configurações para o container contido no footer*/
  display: grid;
  /*definirá que poderei dividir este trecho em partes*/
  grid-template-columns: repeat(3, auto);
  /*definirá a separação automática de colunas, especificando que serão 3 e que elas serão divididas proporcionalmente pelo próprio navegador através do valor "auto"*/
  align-items: center;
  /*definirá que cada um dos itens seja alinhado ao centro*/
  padding: 5.25rem 0 3.75rem 0;
  /*definirá um pading de 84px/16px=5.25rem para cima, 0 para a direita, 60px/16px=3.75rem para baixo e 0 para a esquerda, em ordem*/
}

.footer .logo-studion {
  /*aplicará as configurações exclusivamente para o logo da Studion localizado no rodapé - footer, pois se fizesse somente como .logo-studion chamaria outros itens do projeto que estão com esta mesma classe*/
  justify-self: start;
  /*definirá que ele mesmo se alinhará no começo, ou seja, à esquerda*/
  margin: 0;
  /*para remover a margem do elemento e permitir que o padding faça o efeito que precisa de separação dos elementos do footer com a seção acima*/
}

.logo-studion__subtitle {
  /*aplicará as configurações para o subtítulo da logo studion, ou seja para o texto "eventos"*/
  display: block;
  /*definirá uma quebra de linha*/
}

.footer__form {
  /*definirá as configurações para o formulário do rodapé, este não precisa escopar como exclusividade, pois ele já tem uma classe só para ele */
  display: grid;
  /*definirá que será uma tabela de 2 colunas*/
  place-items: center;
  /*definirá a posição dos elementos no centro*/
  grid-template-columns: 9ch auto;
  /*definirá que a primeira coluna terá como distância o valor de 12ch, ou seja, 12 caracteres - "receba news e", conforme o projeto prevê e a segunda coluna definida automaticamente*/
  gap: 1.25rem;
  /*definirá o espaçamento entre o label e o input/button, sendo que em projeto é 20px/16px=1.25rem*/
}

.footer__form label {
  /*aplicará as configurações para o elemento label contido no formulário do rodapé*/
  font-size: 0.875rem;
  /*definirá a fonte para o texto do rótulo conforme projeto, 14px/16px=0.875rem*/
  font-weight: 300;
  /*definirá o peso da fonte, sendo Light, conforme em projeto*/
  text-align: center;
  /*definirá o alinhamento do texto no centro*/
}

.footer__email {
  /*aplicará as configurações para o elemento fieldset contido no formulário do rodapé*/
  display: grid;
  /*aplicará a propriedade de colunas para os filhos (input e button)*/
  grid-template-columns: auto 3.375rem;
  /*aplicará o tamanho automático para o input e o tamanho de 54px/16px=3.375rem*/
  width: 100%;
  /*para que ele ocupe todo o espaço disponível*/
}

.footer__form input {
  /*aplicará somente para o input dentro do footer__form*/
  background-color: var(--color-primary);
  /*definirá a cor do background do input - campo de preenchimento do e-mail*/
  border: unset;
  /*remove a borda da caixa de e-mail*/
  padding: 1rem;
  /*define o padding espaçamento entre o texto e a caixa de 1rem para os lados, sendo 16px no projeto*/
  font-size: 0.875rem;
  /*definirá a fonte do texto, 14px/16px=0.875rem*/
  font-weight: 700;
  /*definirá o peso da fonte para Bold, conforme estipulado em projeto*/
  text-transform: uppercase;
  /*definirá o padrão de texto em caixa alta*/
  color: #000;
  /*definirá a cor de texto*/
}

.footer__form input::placeholder {
  /*para aplicar exclusivamente no placeholder do input, a chamada é feita de forma diferente*/
  color: #000;
}
.footer__form input:focus {
  /*para aplicar exclusivamente no efeito focus do input, a chamada é feita de forma diferente*/
  outline: unset;
  /*removerá o efeito de focus, ou seja, quando clicar na caixa, aparecer uma borda*/
}

.footer__form button {
  /*definirá as alterações para o botão padrão*/
  cursor: pointer;
  /*para indicar que este botão é clicável a partir da mãozinha do mouse*/
  border: unset;
  /*removerá a borda do botão*/
  height: 100%;
  /*definirá a altura da caixa do botão, para 100% do tamanho disponível para ele ocupar*/
  transition: 0.3s all ease;
  /*definirá a propriedade para transicionar entre um modo e outro para indicar que o botão é clicável*/
}

.footer__form button:hover {
  /*definirá as alterações para o botão padrão quando passar o mouse por cima dele*/
  color: #fff;
  /*definirá a cor branca para o texto do botão*/
  background-color: var(--color-copy);
  /*definirá a cor de texto para o background do botão*/
  
}

.footer__social {
  /*definirá as configurações para a parte dos ícones das redes sociais*/
  justify-self: end;
  /*definirá que os ícones estarão alinhados ao final da seção, ou seja, à direita*/
}

.footer__social a,
.footer__social a:visited,
.footer__social a:active {
  /*definirá a propriedade para o elemento de link do footer__social para todas as propriedades de uso do botão*/
  color: #fff;
  /*definirá a cor branca para a propriedade de link dos botões*/
  margin-left: 0.2rem;
  /*definirá o espaçamento entre os ícones das redes sociais*/
}

.footer__social a .fa-twitter,
.footer__social a:visited .fa-twitter,
.footer__social a:active .fa-twitter {
  /*definirá a propriedade para o elemento de link do twitter no footer__social para todas as propriedades de uso do botão*/
  color: #000;
  /*definirá a cor branca para a propriedade de link dos botões*/
}

.footer hr {
  /*aplicará as configurações para o elemento hr contido no footer*/
  border-color: #fff4;
  /*definirá a cor da borda (linha) que irá separar o rodapé sendo que o número 4 representa a transparência*/
  margin: 0;
  /*definirá que irá zerar a margem do elemento hr (linha quebrando as seções)*/

}

.footer p {
  /*aplicará as configurações para o elemento "p" - parágrafo do footer*/
  text-align: center;
  /*alinhará o texto no centro da seção do footer*/
  font-size: 0.875rem;
  /*definirá o tamanho da fonte baseado em projeto, 14px/16px=0.875rem*/
  font-weight: 300;
  /*definirá o peso da fonte baseado em projeto, sendo a opção light, ou seja, 300*/
  margin: 2.5rem 0;
  /*definirá a margem baseado em projeto, sendo 40px/16px=2.5rem para cima e para baixo e 0 para esquerda e direita*/
}